<div id="navigation">
  <div align=center><img class="img-circle" src="/styles/images/me/me.jpg" alt="倪明本人"></div>
  <h3  align="center" class="intro">人物简介</h3>
  <ul class="nav sidenav">
    倪明，毕业于云南师范大学，正规院校<b>计算机工学硕士</b>，研究方向为计算机图形学，对图像真实感、光影、流体等特效有深入研究。<br>
    目前，主攻VR方向，平台Unity3D、C#。会编写Unity平台下的Unity Shader程序，能胜任从事Unity开发全职的工作。<br>
    数学基础好，数据结构与算法功底扎实；酷爱编程，英文阅读良好；图形学知识结构已汇成体系，掌握面向对象编程要领，摸透Unity3D各组件、插件技术使用，会编写Unity Shader，伴随材质为场景添加特效。有基于Unity3D的VR开发项目经验，对当前VR、游戏及动漫等内容行业有所了解和涉及。
<!--
    {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

      {% if forloop.first %}
        <li><a href="#year_{{this_year}}">{{this_year}}</a>
          <ul class="nav">
            <li><a href="#month_{{this_year}}_{{this_month}}">{{this_month}}</a></li>
      {% endif %}

      {% if forloop.last %}
            </ul>
          </li>
      {% else %}
        {% if this_year != next_year %}
            </ul>
          </li>
          <li><a href="#year_{{next_year}}">{{next_year}}</a>
            <ul class="nav">
              <li><a href="#month_{{next_year}}_{{next_month}}">{{next_month}}</a></li>
        {% else %}    
          {% if this_month != next_month %}
              <li><a href="#month_{{next_year}}_{{next_month}}">{{next_month}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
-->
  </ul>
</div>
